# Service settings
SERVICIO2_URL=http://contenedor2:4000

# Database settings
DB_HOST=postgres
DB_PORT=5432
DB_NAME=servicio1_db
DB_USER=servicio1_user
DB_PASSWORD=servicio1_password
DB_INIT_ON_STARTUP=true
DB_CREATE_DATABASE_IF_MISSING=true

# Auth token settings
JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30
