# Logs
*.log

# Variables de entorno
.env

# Directorios de dependencias
node_modules/
__pycache__/
*.pyc

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.suo
*.user

.venv

# Local sqlite artifacts from tests/dev
*.db
